.home-container {
  display: grid;

  &-style {
    width: 300px;
    height: 150px;
    color: #fff;
    border: 1px solid orangered;
    box-sizing: border-box;
    padding: 10px;
  }
}

.css-regular-container {
  display: flex;
  flex-direction: column;

  &-header {
    color: #fff;
  }

  &-body {
    margin: 10px 0 0 0;
    color: orange;
  }
}
