.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-link {
  color: #61dafb;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 20px 0;
}
