$sidebarHeight: calc(100vh - 50px);

.sidebar-background {
  height: $sidebarHeight;
  width: 100%;
  position: absolute;
  opacity: 20%;
  background-color: #fff;
  cursor: pointer;
  z-index: 1000;
}

.sidebar-container {
  position: absolute;
  background-color: white;
  height: $sidebarHeight;
  z-index: 1100;
  width: 250px;

  &-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
  }
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items .button-item {
  display: flex;
  align-items: center;
}

.menu-items .button-item button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1.4rem;
}
.menu-items a:hover,
.menu-items .button-item:hover {
  background-color: #f2f2f2;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1100;
  left: 0;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
  0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  min-width: 10rem;
  padding: 0;
  list-style: none;
  background-color: #fff;
}

.dropdown.show {
  display: flex;
  flex-direction: column;
  left: 100%;
  top: -10%;
  height: auto;
  max-height: 80vh;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  height: auto;
}
