.app-container {

  &-top-panel {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: cornflowerblue;
  }

  &-component {
    display: flex;
    height: calc(100vh - 70px);
    background-color: darkslategrey;
    padding: 20px 20px 0 20px;
    overflow-y: scroll;
  }
}
